<h1>Editar Horário</h1>

<%= render 'form', horario: @horario %>

<%= link_to 'Exibir', @horario, class: 'btn btn-default' %>
<%= link_to 'Voltar', meus_horarios_horarios_path, class: 'btn btn-default' %>
