<div class="container">
  <div class="page-header" align="center">
    <h1>Novo Funcionário</h1>
  </div>
  <%= render 'form', funcionario: @funcionario %>
  <button type="button" class="btn btn-link"><%= link_to 'Voltar', funcionarios_path %></button>
</div>
